<div class="jumbotron">
	<div class="container">
		<h1>About Us</h1>
		<p class="lead">We are working on our One Month Rails Pinteresting App</p>
	</div>
</div>
<div class="container">
	<p class="lead text-primary">Prepare Yourselves for an Amazing Thing</p>
	<p>We are here to create amazing. Just that. Amazing. Enjoy yourselves while you pin your litte hearts out with images of babies and ponies. We know we will.</p>
</div>