<div class="jumbotron">
	<div class="container">
		<h1>Welcome to the team page</h1>
			<p class="lead">Soon we'll tell you all about the people that are going to make this app awesome</p>
		</div>
	</div>
	<div class="container">
		<div class="col-md-4">
			<%= image_tag('arod.jpg', class: "img-circle")%>
			<h4 class="center">This is me, well, not really, but...</h4>
		</div>
		<div class="col-md-4">
			<%= image_tag('bailey.jpg', class: "img-circle")%>
			<h4 class="center">This is my dog.</h4>
		</div>
		<div class="col-md-4">
			<%= image_tag('stiner.jpg', class: "img-circle")%>
			<h4 class="center">This is my co-worker and gf... really...</h4	>
		</div>
	</div>