<div class="jumbotron">
	<div class="container">
		<h1>Welcome to the team page</h1>
			<p class="lead">Soon we'll tell you all about the people that are going to make this app awesome</p>
		</div>
	</div>